.neu-input {
    background: #EEF0F4;
    /* border-radius: 100%; */
    box-shadow: inset 7px 7px 14px #d4d6d9, inset -7px -7px 14px #ffffff;
}

.neu-button {
    /* border-radius: 50px; */
    background: #EEF0F4;
    box-shadow: 20px 20px 60px #d5d5d5, -20px -20px 60px #ffffff;
}
